torch
transformers
diffusers
hydra-core
torchvision
accelerate
gdown
einops
pytorch-lightning
taming-transformers-rom1504
kornia
antlr4-python3-runtime
trimesh
PyMCubes
pymeshlab
xatlas
scikit-learn
pydantic==1.10.7
gradio==3.34.0
requests
pip install -e CLIP/ # first git clone https://github.com/openai/CLIP.git